<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- CSS CUSTOM -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <title></title>
  </head>
  <body>
    <div class="navbar">
      <a href="{% url 'mindspace_app:index' %}"> MindSpace</a>
      <a href="{% url 'mindspace_app:index' %}">Dashboard</a>
      <a href="{% url 'mindspace_app:create' %}">New Project</a>
    </div>

    {% block body_block %}

    {% endblock %}
  </body>

</html>
