<!DOCTYPE html>
{% extends "mindspace_app/base.html" %}
{% block body_block %}
<div id="dashboard">
  <div class="new_activity activity">
    <h2 class="activity_heading">New</h2>
    <hr>
    {% for activity in activities %}
      {% if activity.status == 'new' %}
      <div class="task ">
        <a href="{% url 'mindspace_app:update' pk=activity.pk %}">{{ activity.heading }}, {{ activity.percentage }}%</a>
      </div>
      {% endif %}
    {% endfor %}
  </div>


  <div class="current_activity activity">
    <h2 class="activity_heading">Current</h2>
    <hr>
    {% for activity in activities %}
      {% if activity.status == 'current' %}
      <div class="task">
        <a href="{% url 'mindspace_app:update' pk=activity.pk %}">{{ activity.heading }}, {{ activity.percentage }}%</a>
      </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="completed_activity activity ">
    <h2 class="activity_heading">Completed</h2>
    <hr>
    {% for activity in activities %}
      {% if activity.status == 'completed' %}
      <div class="task">
        <a href="{% url 'mindspace_app:update' pk=activity.pk %}">{{ activity.heading }}, {{ activity.percentage }}%</a>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
